<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Class 4 ~ Javascript ~ Girl Develop IT</title>

		<meta name="description" content="This is the official Girl Develop It Core Intro Javascript course. Material based on original material by Sara Chipps, Pamela Fox, Alexis Goldstein, Izzy Johnston and Leo Newball.

    The course is meant to be taught in 4 two-hour sections. Each of the slides and practice files are customizable according to the needs of a given class or audience.">
		<meta name="author" content="Girl Develop It">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="reveal/css/reveal.css">
		<link rel="stylesheet" href="reveal/css/theme/gdidefault.css" id="theme">

		<!-- For syntax highlighting -->
		<!-- light editor<link rel="stylesheet" href="lib/css/light.css">-->
		<!-- dark editor--><link rel="stylesheet" href="reveal/lib/css/dark.css">

		<!-- If use the PDF print sheet so students can print slides-->
		
		<link rel="stylesheet" href="reveal/css/print/pdf.css" type="text/css" media="print">

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
			  <!-- Opening slide -->
        <section>
          <img src = "images/gdi_logo_badge.png">
          <h3>Beginning Javascript</h3>
          <h4>Class 4</h4>
        </section>
        
        <!-- Welcome-->
        <section>
          <h3>Welcome!</h3>
          <div class = "left-align">
          <p>Girl Develop It is here to provide affordable and accessible programs to learn software through mentorship and hands-on instruction.</p>
          <p class ="green">Some "rules"</p>
          <ul>
            <li>We are here for you!</li>
            <li>Every question is important</li>
            <li>Help each other</li>
            <li>Have fun</li>
          </ul>
          </div>
        </section>
              
        <section>
          <h3>Easier UI</h3>
          <ul>
            <li class="fragment">jQuery is powerful but binding the form started to get complicated.</li>
            <li class="fragment">With larger pages that only grows.</li>
            <li class="fragment">When trying to keep data in inputs in sync with you script there needs to be some sort of binding.</li>
            <li class="fragment">jQuery can do this but you have to wire it all up your self</li>
            <li class="fragment">Also with all the .HTML assignments you start to write the layout in your code. Yuck!</li>
          </ul>
        </section>
              
        <section>
          <h3>Angular.js</h3>
          <ul>
            <li class="fragment">Angular was built by Google to allow designers a way to interact with the layout</li>
            <li class="fragment">It's a simple concept but it's use has grown exponentially.</li>
            <li class="fragment">All the information for layout goes directly into the page, no markup in code!</li>
            <li class="fragment">Actions are added to the page though "directives"</li>
            <li class="fragment">They add features to the elements in the page</li>
          </ul>
        </section>
              
        <section>
          <h3>ng-model and expressions</h3>
          <ul class="fragment">
            <li class="fragment">This is a directive that binds an input to a variable</li>
          </ul>
            <pre class="fragment"><code contenteditable class = "html">
  &lt;input type="text" ng-model="name"/&gt;
  &lt;br/&gt;
  My name is: {{name}}
          	</code></pre>
          <ul class="fragment">
            <li class="fragment">Notice the {{x}} in the markup</li>
            <li class="fragment">This is an expression and it allows you to use values you have created</li>
            <li class="fragment">You can also write calculations {{daysInYear * favoritesFoodPerDay}}</li>
          </ul>
        </section>
        
        <!-- Exercise-->
        <section>
          <h3>Let's Develop It!</h3>
          <ul>
            <li>Let's redo our food calculator, using inputs and expressions in the page</li>
            <li><a href="http://jsbin.com/kayoru/latest/edit?html,output">http://jsbin.com/kayoru/latest/edit?html,output</a></li>
          </ul>
        </section>
              
        <section>
          <h3>ng-repeat</h3>
          <ul class="fragment">
            <li class="fragment">Since we alwyas work with collections there is a directive for that</li>
            <li class="fragment">This directive will create a copy of the element you tag with it for each item in the list.</li>
          </ul>
            <pre class="fragment"><code contenteditable class = "html">
    &lt;ul&gt;
      &lt;li ng-repeat=&quot;friend in friends&quot;&gt;&lt;/li&gt;
      {{friend}}
    &lt;/ul&gt;
          	</code></pre>
          <ul class="fragment">
            <li class="fragment">just like in our .forEach the value in the list is passed to each element</li>
          </ul>
        </section>
              
        <section>
          <h3>ng-controller</h3>
          <ul class="fragment">
            <li class="fragment">Controllers are how you bind the data to the page from script</li>
            <li class="fragment">The controller is a function in your code that you call from the page</li>
            <li class="fragment">The function has a $scope parameter that is accessable by your expressions</li>
          </ul>
            <pre class="fragment"><code contenteditable class = "html">
    &lt;div ng-controller="ctrl"&gt;
          	</code></pre>
            <pre class="fragment"><code contenteditable class = "javascript">
    function ctrl($script) {
    $script.myValue = 5;
    }
          	</code></pre>
        </section>
        
        <!-- Exercise-->
        <section>
          <h3>Let's Develop It!</h3>
          <ul>
            <li>Let's redo the friends list using a controller and ng-repeat</li>
            <li><a href="http://jsbin.com/cumuki/latest/edit?html,js,output">http://jsbin.com/cumuki/latest/edit?html,js,output</a></li>
          </ul>
        </section>
        
        <section>
          <h3>Warning</h3>
          <div style ="font-size=1.2em" class = "yellow">
            The following few slides have lots of acronyms and jargon.
          </div>
          <div>On behalf of developers everywhere, we apologize</div>
        </section>
        <!-- What is an API-->
        <section>
          <h3>What is an API?</h3>
          <ul>
            <li class = "fragment"><span class = "yellow">A</span>pplication <span class = "yellow">P</span>rogramming <span class = "yellow">I</span>nterface</li>
            <li class = "fragment">Data structure and rules for accessing a web-based application</li>
            <li class = "fragment">How we can access information from sites that are not our own (Twitter, Meetup, Facebook, Foursquare)</li>
          </ul>
        </section>
        
        <section>
          <h3>What is an API?</h3>
          <ul>
            <li class = "fragment">Primary role: a channel for applications to work together
              <ul>
                <li class = "fragment">Your website and the Twitter API</li>
                <li class = "fragment">Twitter's mobile app and the Twitter API</li>
                <li class = "fragment">Hootsuite's mobile app and the Twitter API</li>
            </li>
          </ul>
        </section>
        
        <!-- What is AJAX-->
        <section>
          <h3>What is AJAX?</h3>
          <ul>
            <li class = "fragment"><span class = "yellow">A</span>synchronous <span class = "yellow">J</span>avaScript <span class = "yellow">a</span>nd <span class = "yellow">X</span>ML</li>
            <li class = "fragment">Method to communicate to a server or API</li>
            <li class = "fragment">Asynchronous means:
              <ul>
                <li class = "fragment">I ask Twitter for all the tweets ever!</li>
                <li class = "fragment">That will take a while</li>
                <li class = "fragment">My <span class = "green">whole website</span> could be <span class = "green">locked up</span> while I wait!</li>
                <li class = "fragment">Or, my call can be <span class = "blue">'asynchronous'</span> and my website will just <span class = "blue">listen for Twitter's response</span> with one ear, but go about <span class = "blue">normal business until the response arrives</span>.
              </ul>
            </li>
            <li class = "fragment">Requests and results can be in JavaScript or XML</li>
          </ul>
        </section>
        
        <!-- What is REST-->
        <section>
          <h3>What is REST?</h3>
          <ul>
            <li class = "fragment"><span class = "yellow">Re</span>presentational <span class = "yellow">S</span>tate <span class = "yellow">T</span>ransfer</li>
            <li class = "fragment">REST is a way to ask an API for information by using a URL.</li>
            <li class = "fragment">REST Urls are created with the following syntax:
              <ul>
                <li class = "fragment">http://ApiSite.com/method?parameter=value&amp;parameter=value</li>
                <li class = "fragment"><span class = "blue">Method</span> -- what you want from the API. Defined by API documentations</li>
                <li class = "fragment"><span class = "blue">Parameter</span> -- a type of filter or restraint. Defined by API documentations</li>
                <li class = "fragment"><span class = "blue">Value</span> -- value for parameter. Defined by you!</li>
              </ul>
            </li>
            
          </ul>
        </section>
        
        <section>
          <h3>Where do I learn about an API?</h3>
          <p>All (good) APIs have documentation</p>
          <ul>
            <li>Facebook (<a href = "https://developers.facebook.com/" target = "_blank">https://developers.facebook.com/</a>)</li>
            <li>Twitter (<a href = "https://dev.twitter.com/" target = "_blank">https://dev.twitter.com/</a>)</li>
            <li>Meetup (<a href = "http://www.meetup.com/meetup_api/" target = "_blank">http://www.meetup.com/meetup_api/</a>)</li>
            <li>FourSquare (<a href = "https://developer.foursquare.com/">https://developer.foursquare.com/</a>)</li>
            <li>Reddit (<a href = "http://www.reddit.com/dev/api">http://www.reddit.com/dev/api</a>)</li>
        </section>
        
        <!-- What is JSON-->
        <section>
          <h3>What is JSON?</h3>
          <ul>
            <li class = "fragment"><span class = "yellow">J</span>ava<span class = "yellow">S</span>cript <span class = "yellow">O</span>bject <span class = "yellow">N</span>otation</li>
            <li class = "fragment">Format for data returned from APIs</li>
            <li class = "fragment">You've seen it before!</li>
            <li class = "fragment">JavaScript objects</li>
          </ul>
        </section>
        <section>
          <h3>What is JSONP?</h3>
          <ul>
            <li class = "fragment">Unless the server is configured to allow it, you can't access JSON on another domain</li>
            <li class = "fragment">But, there is a pattern for that.</li>
            <li class = "fragment">JSONP adds the response as a script tag in the page</li>
          </ul>
        </section>
        
        <!-- Getting started!-->
        <section>
         <h3>Getting started!</h3>
         <p>Get an API Key</p>
         <p class = "fragment green">A what?</p>
         <ul>
           <li class = "fragment">Api Key or Developer Key is a way for an API to identify you</li>
           <li class = "fragment">More secure for an API (Know who is using their API)</li>
           <li class = "fragment">More secure for you -- people can't pretend to be your website</li>
          </ul>
        </section>
        <section>
         <h3>We dont need no stinking key</h3>
         <p>Because we are going to use Reddit's API!</p>
          <a href = "http://www.reddit.com/dev/api">http://www.reddit.com/dev/api</a>
        </section>
        
        <!-- jQuery Ajax-->
        <section>
          <h3>jQuery Ajax</h3>
          <p>jQuery method to perform an AJAX call</p>
          <div class = "fragment">
            <pre><code contenteditable class = "javascript">
    $.ajax({
  		url: 'http://site.com',
  		data: {
  		  parameter: 'value',
  		  parameter: 'value'
  		},
  		crossDomain: true,
  		dataType: 'jsonp',
  		type: "GET",
  		success: function (data) {
  		    // code with data returned
  		},
  		error: function(data) {
  			 // code with error returned
  		}				
  	});
          	</code></pre>
          </div>
        </section>
        
        <section>
          <h3>jQuery Ajax</h3>
          <div class = "fragment">
            <pre><code contenteditable class = "javascript">
    $.ajax({
  		url: 'http://site.com',
  		...			
  	});
          	</code></pre>
          </div>
          <ul>
            <li class = "fragment"> $.ajax() -- jQuery method for sending AJAX requests</li>
            <li class = "fragment">Takes one parameter -- a JavaScript object</li>
            <li class = "fragment">Note the {}</li>
            <li class = "fragment"><span class = "blue">url</span> -- first property, the url where you will send the AJAX request</li>
          </ul>
        </section>
        
        <section>
          <h3>jQuery Ajax</h3>
          <div class = "fragment">
            <pre><code contenteditable class = "javascript">
	...
	data: {
	  parameter: 'value',
	  parameter: 'value'
	},
	...	
          	</code></pre>
          </div>
          <ul>
            <li class = "fragment"><span class = "blue">data</span> --  a JavaScript object with all the parameters for the AJAX request</li>
            <li class = "fragment">Some parameters in the <a href = "http://www.meetup.com/meetup_api/docs/2/open_events/" target = "_blank">Meetup open events</a>
              <ul>
                <li>key (refers to api key)</li>
                <li>city</li>
                <li>country</li>
                <li>topic</li>
              </ul>
            </li>
          </ul>
        </section>
        
        <section>
          <h3>jQuery Ajax</h3>
          <div class = "fragment">
            <pre><code contenteditable class = "javascript">
	...
  crossDomain: true,
	dataType: 'jsonp',
	type: "GET",
	...	
          	</code></pre>
          </div>
          <ul>
            <li class = "fragment"><span class = "blue">crossDomain</span> -- are you sending the request to a domain that is not your own?</li>
            <li class = "fragment"><span class = "blue">dataType</span> -- how will you evaluate the data returned</li>
            <li class = "fragment"><span class = "blue">type</span> -- what type of request is it?
              <ul>
                <li>GET -- retrieve data</li>
                <li>POST -- post new data</li>
              </ul>
            </li>
          </ul>
        </section>
        
        
        <section>
          <h3>jQuery Ajax</h3>
          <div class = "fragment">
            <pre><code contenteditable class = "javascript">
	...
  success: function (data) {
	    // code with data returned
	},
	error: function(data) {
		 // code with error returned
	}
	...	
          	</code></pre>
          </div>
          <ul>
            <li class = "fragment"><span class = "blue">success</span> -- code that will execute if results are sent back successfully</li>
            <li class = "fragment"><span class = "blue">error</span> -- code that will execute if results return an error</li>
          </ul>
        </section>
        
        <!-- Exercise-->
        <section>
          <h3>Let's Develop It!</h3>
          <ul>
            <li>Use the example code to show content from /r/aww/</li>
            <li>Create a link to select other sub reddits: e.g. funny, AdviceAnimals</li>
            <li><a href="http://jsbin.com/kikogi/latest/edit">http://jsbin.com/kikogi/latest</a></li>
          </ul>
        </section>
      
        <!-- -->
        <section>
          <h2>Questions?</h2>
          <div style = "font-size:1200%; height:100%; margin-top:40%" class ="blue">?
            <div class ="clear"></div></div>
        </section>
          
        <section>
          <h3>Give away!</h3>
          <span class="fragment">What is the current version of JavaScript?</span>
          <span class="fragment">v5.1</span>
          <span class="fragment">What is the name for the next version of JavaScript?</span>
          <span class="fragment">Harmony</span>
        </section>
			</div>
  		<footer>
        <div class="copyright">
          Javascript ~ Girl Develop It ~
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a>
        </div>
      </footer>
		</div>


		<script src="reveal/lib/js/head.min.js"></script>
		<script src="reveal/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'reveal/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
